NAME_DB="name banco"
USER_DB="username banco"
PASSWORD_DB="passowrd banco"
HOST_DB="host banco"
PORT_DB="3306"

EMAIL_SMTP= "smtp.gmail.com"
EMAIL_PORT= "587"
EMAIL_USER= "email usuario"
EMAIL_PASSWORD= "senha email"
EMAIL_IMAP= "imap.gmail.com"


LOGIN_MT5= seu_login
PASSWORD_MT5= sua_senha
SERVER_MT5='mt5.xpi.com.br:443'
BINANCE_API_KEY= sua_chave
BINANCE_API_SECRET_KEY= sua_chave_secreta

USE_GPU = True  # Alterar para False se quiser usar CPU
WINDOW_SIZE = 48
DROPOUT = 0.2
BATCH_SIZE = 16
EPOCHS = 50
PATIENCE = 5
LAYERS_CONFIG = [64, 32]
STEPS_AHEAD = 1
RELEVANT_COLUMNS = ["open", "high", "low", "close", "volume"]
TARGET_COLUMN = "close"
END_DATE = "2024-09-14 23:59:59"
